* {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, sans-serif;
  box-sizing: border-box;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0366d6;
}

th,
td {
  padding: 5px 10px;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}

.clearfix {
  zoom: 1;
}

/*仿BS container*/
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
    /*页面宽度大于768px时盒子宽度*/
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
    /*页面宽度大于992px时盒子宽度*/
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    /*页面宽度大于1200px时盒子宽度 		设置时注意代码顺序、执行顺序不一致将导致代码不生效 */
  }
}

/*仿BS row*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*column百分比宽度计算时不计算父容器内外边距，width百分比可以沾满一行而不溢出*/
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before,
.row:after,
.container:before,
.container:after {
  display: table;
  content: " ";
}

/*解决子元素float后撑不开父元素的问题,CSS3清除浮动大法*/
.row:after,
.container:after {
  clear: both;
}

/*解决子元素float后撑不开父元素的问题，CSS3清除浮动大法*/
/*仿BS column*/
.col-md-3,
.col-md-4,
.col-md-6,
.col-xs-12,
.col-md-8 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-6 {
  width: 50%;
}

@media (min-width: 992px) {
  .col-md-6 {
    width: 50%;
  }

  .col-md-4 {
    width: 33.3333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-8 {
    width: 75%;
  }

  .margin-l-top40 {
    margin-top: 40px;
  }

}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*公用样式*/
.text-gray {
  color: #586069;
}

.text-black {
  color: #000;
}

.text-center {
  text-align: center;
}



.textIndent {
  text-indent: 20px;
}

.padding-10 {
  padding: 10px 0;
}

.padding-20 {
  padding: 20px 0;
}

.padding-50 {
  padding: 50px 0;
}

.padding-top15 {
  padding-top: 15px;
}

.padding-top20 {
  padding-top: 20px;
}

.padding-top50 {
  padding-top: 50px;
}

.padding-bottom10 {
  padding-bottom: 10px;
}

.padding-bottom20 {
  padding-bottom: 20px;
}

.margin-bottom50 {
  margin-bottom: 50px;
}

.margin-top20 {
  margin-top: 20px;
}

.lineHeight {
  line-height: 30px;
}

.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-18 {
  font-size: 18px;
}

.font-24 {
  font-size: 24px;
}

.font-white {
  color: #fff;
}

.font-red {
  color: red
}

.pointer-hand {
  cursor: pointer;
}

.imgWidth {
  width: 80%;
}

/*组件标题*/
.componentTitle {
  font-size: 36px;
  margin: 80px 0;
}

.titleBtn {
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
}

.titleBtnInside {
  color: #fff;
}

.title_p {
  font-size: 30px;
}

@media screen and (max-width: 996px) {

  .componentTitle {
    font-size: 24px;
  }

  .title_p {
    font-size: 18px;
  }
}

/*简历样式*/
.bioMain {
  margin-top: 50px;
}

.bioMain P {
  text-indent: 18px;
}

.bioImg {
  padding: 10px;
  border-right: #b2bac3 solid 1px;
}

@media screen and (max-width: 996px) {
  .bioImg {
    border: none;
  }
}

.bioClick {
  color: #fff;
  font-size: 18px;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-top: 20px;
  float: right;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #b64816, #a62cb6);
}

.bioClick:active {
  background-image: linear-gradient(90deg, #659cb6, #a62cb6);
}
